.color-detail {
  flex: 1 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;

  font-size: calc(60 * var(--size));
  text-align: center;
  cursor: pointer;
}

.color-detail--light {
  color: white;
}

.color-detail--dark {
  color: #333;
}
