.color-form {
  padding: 1rem;
  background: #363f45;
  color: white;
  border-top: .1rem solid #333;
}

.color-form__control {
  appearance: none;
  background-color: white;
  border-radius: .1rem;
  border: .1rem solid white;
  box-shadow: none;
  box-sizing: inherit;
  height: 2.8rem;
  padding: .6rem 1.0rem;
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.color-form__control:focus {
  border-color: #333;
  outline: 0;
}

.color-form__control--select:focus {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

.color-form__control--select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

.color-form__control--textarea {
  font-family: inherit;
  resize: none;
  min-height: 6.5rem;
  font-size: 1rem;
}

.color-form__field-name {
  display: block;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: .8rem;
}

.color-form__field-name:first-child {
  margin-top: 0;
}

.color-form__button {
  display: block;
  width: 100%;
  height: 2.8rem;
  border-radius: .1rem;
  box-shadow: none;
  border: none;
  margin-top: 2rem;
  font-family: inherit;
  font-size: 1.2rem;
}

.color-form__button:hover {
  background-color: #aaa;
}

.color-form__error {
  font-size: 1rem;
  margin-top: .5rem;
  color: #f34235;
}
