.color-item {
  flex: 0 0 25%;
  padding: var(--size-gutter);
  min-height: calc(150 * var(--size));
  position: relative;
  cursor: pointer;
}

.color-item__name {
  text-transform: uppercase;
}

.color-item__controls {
  position: absolute;
  bottom: calc(5 * var(--size));
  right: calc(5 * var(--size));
}

.color-item-action {
  display: inline-block;
  font-size: var(--font-size);
  cursor: pointer;
  padding: calc(4 * var(--size)) calc(2 * var(--size)) 0;
}

.color-item-action:hover {
  background-color: rgba(0,0,0,0.2);
}

.color-item--dark {
  color: #333;
}

.color-item--light {
  color: white;
}
