.color-form {
  padding: calc(16 * var(--size));
  background: #363f45;
  color: white;
  border-top: var(--size) solid #333;
  font-size: var(--size-font);
}

.color-form__control {
  appearance: none;
  background-color: white;
  border-radius: calc(2 * var(--size));
  border: var(--size) solid white;
  box-shadow: none;
  box-sizing: inherit;
  height: calc(45 * var(--size));
  padding: calc(10 * var(--size));
  display: block;
  width: 100%;
}

.color-form__control:focus {
  border-color: #333;
  outline: 0;
}

.color-form__control--textarea {
  resize: none;
  min-height: calc(80 * var(--size));
}

.color-form__field-name {
  display: block;
  margin-top: calc(20 * var(--size));
  margin-bottom: calc(10 * var(--size));
}

.color-form__field-name:first-child {
  margin-top: calc(10 * var(--size));
}

.color-form__button {
  display: block;
  width: 100%;
  height: calc(45 * var(--size));
  border-radius: calc(2 * var(--size));
  box-shadow: none;
  border: none;
  margin-top: ;
  font-family: inherit;
  margin-top: calc(20 * var(--size));
}

.color-form__button:hover {
  background-color: #aaa;
}

.color-form__error {
  font-size: var(--size-font-small);
  margin-top: calc(10 * var(--size));
  color: #f34235;
}
